<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container-fluid">
  <div class="row" style="margin-top:30px">
      <div class="col-md-3 nopadding">
          <h4>OPS</h4>
      </div>
      <div class="col-md-7">
      </div>
      <div class="col-md-2" style="text-align:right">
          <button class="btn btn-primary new-ticket" routerLink="../ops">Back</button>
      </div>
  </div>
  <div class="row">
      <form [formGroup]="PPSForm">
          <div class="row" id="margin-bottom">
              <div class="col-md-4">
                  <div class="form-group  text-field">
                      Month
                      <select class="form-control" id="model" formControlName="month"
                          style="font-weight: 400 !important;" disabled>
                          <option disabled>Select Month</option>

                          <option value="Jan">Jan</option>
                          <option value="Feb">Feb</option>
                          <option value="Mar">Mar</option>
                          <option value="Apr">Apr</option>
                          <option value="May">May</option>
                          <option value="Jun">Jun</option>
                          <option value="Jul">Jul</option>
                          <option value="Aug">Aug</option>
                          <option value="Sep">Sep</option>
                          <option value="Oct">Oct</option>
                          <option value="Nov">Nov</option>
                          <option value="Dec">Dec</option>

                      </select>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group  text-field">
                      Date
                      <input type="text" class="form-control" formControlName="date" name="bday" disabled>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group  text-field">
                      Model
                      <select class="form-control" id="model" formControlName="model"
                          style="font-weight: 400 !important;" disabled>
                          <option disabled>Select Model</option>

                          <option>HDT</option>
                          <option>MDT</option>
                      </select>
                  </div>
              </div>


          </div>
          <div class="row" id="margin-bottom">

              <div class="col-md-4">
                  <div class="form-group  text-field">
                      Loss Quantity
                      <input type="number" class="form-control" value="" formControlName="loss_qty" placeholder=""
                          disabled>
                  </div>
              </div>
              <div class="col-md-4">
                  Loss Time
                  <input type="number" class="form-control" value="" formControlName="loss_time" placeholder=""
                      disabled>

              </div>
              <div class="col-md-4">
                  <div class="form-group  text-field">
                      Loss Description
                      <input type="text" class="form-control" value="" formControlName="loss_description"
                          placeholder="" disabled>
                  </div>
              </div>
          </div>
          <div class="row" id="margin-bottom" style="border-bottom:1px solid #eee;">
              <div class="col-md-4">
                  <div class="form-group  text-field">
                      Initial Responsibility
                      <!-- <input class="form-control" id="model" formControlName="init_responsibility"
                          style="font-weight: 400 !important;" disabled> -->
                          <ng-multiselect-dropdown [placeholder]="'Select Initial Responsibility'"
                                        [data]="dropdownList1" [(ngModel)]="selectedItems1"
                                        formControlName="init_responsibility1" [settings]="dropdownSettings1"
                                        (onSelect)="onItemSelect1($event)" (onSelectAll)="onSelectAll1($event)" [disabled]="'false'">
                                    </ng-multiselect-dropdown>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group  text-field">
                      PPS Main Cluster
                      <select name="opsmain" class="form-control" formControlName="pps_main_cluster_id"
                          (change)="ppssubcluster($event.target.value)" disabled>
                          <option value="null" selected disabled>Select PPS Main Cluster</option>
                          <ng-container *ngFor="let data of getListdata; let i=index">
                              <option value={{data.id}}>{{data.clustername}}</option>
                          </ng-container>
                      </select>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group  text-field">
                      PPS Sub Cluster
                      <input type="text" class="form-control" value="" formControlName="pps_sub_cluster"
                          placeholder="" disabled>


                  </div>
              </div>
          </div>
      </form>
<ng-container>
      <form [formGroup]="OPSForm">
      <div class="row" id="margin-bottom">
                  <div class="col-md-4">
                          <div class="form-group  text-field">
                              Final Responsibility <span class="color">*</span>
                              <ng-multiselect-dropdown id="multipleSelect" [placeholder]="'Select Final Responsibility'" [data]="Finalresdata"
                              [(ngModel)]="selectedItems" formControlName="final_resposibility1"
                              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                              (onSelectAll)="onSelectAll($event)">
                          </ng-multiselect-dropdown>
                              <!-- <select class="form-control" id="model" formControlName="final_resposibility"
                                  style="font-weight: 400 !important;">
                                  <option value="null" disabled>Select Final Responsibility</option>
                                  <ng-container *ngFor="let data of Finalresdata">
                                      <option value={{data.finalresponsename}}>{{data.finalresponsename}}</option>
                                  </ng-container>
                              </select> -->
                              <small class="text-danger errormsg" *ngIf="
                                                          !OPSForm.controls.final_resposibility.valid &&
                                                          OPSForm.controls.final_resposibility.touched
                                                        ">Final Responsibility is required</small>
                          </div>
                      </div>
              <div class="col-md-4">
                  <div class="form-group  text-field">
                          OPS Main Cluster <span class="color">*</span>
                          <select name="option" class="form-control" id="model" formControlName="ops_main_cluster_id"
                              style="font-weight: 400 !important;" (change)="getsubcluster($event.target.value)">
                              <option value="null" selected disabled>Select OPS Main Cluster</option>
                              <ng-container *ngFor="let data of getListdata; let i=index">
                                      <option value={{data.id}}>{{data.clustername}}</option>
                                  </ng-container>
                          </select>
                          <small class="text-danger errormsg" *ngIf="
                                                          !OPSForm.controls.ops_main_cluster_id.valid &&
                                                          OPSForm.controls.ops_main_cluster_id.touched
                                                        ">OPS Main Cluster is required</small>
                      </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group  text-field">
                      OPS Sub Cluster<span class="color">*</span>
                      <select id="opssubcluster" class="form-control" formControlName="ops_sub_cluster">
                          <option value="null" selected disabled>Select OPS Sub Cluster</option>
                          <ng-container *ngFor="let data of getsubclusterdta; let i=index">
                              <option value={{data.subclustername}}>{{data.subclustername}}</option>
                          </ng-container>
                      </select>
                      <small class="text-danger errormsg" *ngIf="
                      !OPSForm.controls.ops_sub_cluster.valid &&
                      OPSForm.controls.ops_sub_cluster.touched
                    ">OPS Sub Cluster is required</small>
                  </div>
              </div>

      </div>
      <div class="row">
              <div class="col-md-4">
                      <div class="form-group  text-field">
                              Remarks (Optional)
                              <input type="text" class="form-control" id="model" formControlName="additional_remarks"
                                  style="font-weight: 400 !important;" placeholder="Remarks">

                          </div>
              </div>
              <div class="col-md-4" *ngIf="selectedItems.length == 1">
                <div class="form-group  text-field" *ngIf="selectedItems.length == 1">
                        Justification<span class="color">*</span>
                        <input type="text" class="form-control" id="model" formControlName="frjustification"
                            style="font-weight: 400 !important;" placeholder="Justification">
                            <small class="text-danger errormsg" *ngIf="
                            !OPSForm.controls.frjustification.valid &&
                            OPSForm.controls.frjustification.touched
                          ">Justification is required</small>
                    </div>
        </div>
      </div>
  </form>
  </ng-container>
      <!-- <div class="row" id="margin-bottom" *ngIf="opsmaincluster != null && ops_sub_cluster != null">
          <form [formGroup]="OPSForm">
              <div class="col-md-4">
                  <div class="form-group  text-field">
                      OPS Main Cluster
                      <select class="form-control" formControlName="ops_main_cluster_id" disabled>
                      <option value="null" selected disabled>Select OPS Main Cluster</option>
                      <ng-container *ngFor="let data of getListdata; let i=index">
                          <option value={{data.id}}>{{data.clustername}}</option>
                      </ng-container>
                  </select>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group  text-field">
                      OPS Sub Cluster
                      <input class="form-control" formControlName="ops_sub_cluster" readonly>
                  </div>
              </div>
          </form>
          <form [formGroup]="PPSForm">
                  <div class="col-md-4">
                      <div class="form-group  text-field">
                          Final Responsibility
                          <input type="text" class="form-control" id="model" formControlName="final_resposibility"
                              style="font-weight: 400 !important;" disabled>

                      </div>
                  </div>
              </form>


      </div> -->

      <!-- <div class="row" *ngIf="opsmaincluster != null && ops_sub_cluster != null">
          <form>

              <div class="col-md-4" [formGroup]="PPSForm">
                  <div class="form-group  text-field">
                      Supplier Code

                      <input type="text" class="form-control" id="model" formControlName="vendor_code"
                          style="font-weight: 400 !important;" disabled>

                  </div>
              </div>
              <div class="col-md-4" [formGroup]="PPSForm">
                  <div class="form-group  text-field">
                      Supplier Name

                      <input type="text" class="form-control" id="model" formControlName="supplier_name"
                          style="font-weight: 400 !important;" disabled>

                  </div>
              </div>
          </form>
      </div> -->
  </div>
  <div class="row">
      <div class="col-md-12">
          <div style="text-align:right;margin: 20px 0px;">

              <!-- <span style="padding-right: 15px;" *ngIf="opsmaincluster == null && ops_sub_cluster == null"><button
                      class="btn btn-primary new-ticket" (click)="Submit()"><i
                          class="icon-save"></i>Update</button></span> -->
              <span style="padding-right: 15px;"><button
                      class="btn btn-primary new-ticket" (click)="Update()"><i
                          class="icon-save"></i>&nbsp; Update</button></span>
              <!-- <span><button class="btn btn-primary btn-md" (click)="SaveForm()" style=""><i
                          class="icon-save"></i>Save</button></span> -->

          </div>
      </div>
  </div>
</div>

<!-- modal -->

<div class="modal fade" id="submit" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-10">
                      <p class="modalHeader">Submit</p>
                  </div>
                  <div class="col-md-2">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <br>
                  <div class="col-md-12">
                      <p> Are you sure want to submit ?</p>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button"
              class="btn btn-sm btn-primary new-ticket" (click)="confirmSubmit()">Yes</button>
          <!-- <button *ngIf="opsmaincluster != null && ops_sub_cluster != null" type="button"
              class="btn btn-sm btn-primary new-ticket" (click)="confirmUpdate()">Yes</button> -->
              <button type="button" class="btn btn-sm btn-primary new-ticket" data-dismiss="modal">No </button>


          </div>
      </div>
  </div>
</div>
