<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container-fluid">
    <div class="row" id="margin-bottom" style="margin-top:30px">
        <div class="col-md-3">
            <h4>{{AdminEdit}}</h4>
        </div>
        <div class="col-md-7">
        </div>
        <div class="col-md-2" style="text-align:right">
            <button class="btn btn-primary new-ticket" (click)="back()">Back</button>
        </div>
    </div>
    <form [formGroup]="FinalForm">
        <div class="row" id="margin-bottom">
            <div class="col-md-4">
                <div class="form-group  text-field">
                    Month
                    <select class="form-control" id="model" formControlName="month"
                        style="font-weight: 400 !important;">
                        <option disabled>Select Month</option>

                        <option value="Jan">Jan</option>
                        <option value="Feb">Feb</option>
                        <option value="Mar">Mar</option>
                        <option value="Apr">Apr</option>
                        <option value="May">May</option>
                        <option value="Jun">Jun</option>
                        <option value="Jul">Jul</option>
                        <option value="Aug">Aug</option>
                        <option value="Sep">Sep</option>
                        <option value="Oct">Oct</option>
                        <option value="Nov">Nov</option>
                        <option value="Dec">Dec</option>

                    </select>
                    <!-- <small class="text-danger" *ngIf="
                                          !FinalForm.controls.month.valid &&
                                          FinalForm.controls.month.touched
                                        "> Month is required</small> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group  text-field">
                    Date
                    <!-- <input type="date" id="date" class="form-control" data-date-format="DD-MMMM-YYYY" formControlName="date" name="bday"> -->
                    <input formControlName="date" type="text" placeholder="DD-MM-YYYY" class="form-control" bsDatepicker
                        [bsConfig]="{ adaptivePosition: true,dateInputFormat: 'DD-MM-YYYY' }" id="date">
                    <!-- <small class="text-danger" *ngIf="
                              !FinalForm.controls.date.valid &&
                              FinalForm.controls.date.touched
                            "> Date is required</small> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group  text-field">
                    Model
                    <select class="form-control" id="model" formControlName="model"
                        style="font-weight: 400 !important;">
                        <option disabled>Select Model</option>

                        <option>HDT</option>
                        <option>MDT</option>
                    </select>
                    <!-- <small class="text-danger" *ngIf="
                              !FinalForm.controls.model.valid &&
                              FinalForm.controls.model.touched
                            "> Model is required</small> -->
                </div>
            </div>


        </div>
        <div class="row" id="margin-bottom">

            <div class="col-md-4">
                <div class="form-group  text-field">
                    Loss Quantity
                    <input type="number" class="form-control" value="" formControlName="loss_qty"
                        placeholder="Loss Quantity">
                    <!-- <small class="text-danger" *ngIf="
                              !FinalForm.controls.loss_qty.valid &&
                              FinalForm.controls.loss_qty.touched
                            "> Loss Quantity is required</small> -->
                </div>
            </div>
            <div class="col-md-4">
                Loss Time
                <input type="number" class="form-control" value="" formControlName="loss_time" placeholder="Loss time">
                <small class="text-danger" *ngIf="
                          !FinalForm.controls.loss_time.valid &&
                          FinalForm.controls.loss_time.touched
                        "> Loss Time is required</small>
            </div>
            <div class="col-md-4">
                <div class="form-group  text-field">
                    Loss Description
                    <input type="text" class="form-control" value="" formControlName="loss_description"
                        placeholder="Loss Description">
                    <!-- <small class="text-danger" *ngIf="
                              !FinalForm.controls.loss_description.valid &&
                              FinalForm.controls.loss_description.touched
                            "> Loss Description is required</small> -->
                </div>
            </div>
        </div>
        <div class="row" id="margin-bottom" style="border-bottom:1px solid #eee;">
            <div class="col-md-4">
                <div class="form-group  text-field">
                    Initial Responsibility
                    <ng-multiselect-dropdown [placeholder]="'Select Initial Responsibility'" [data]="dropdownList"
                        [(ngModel)]="selectedItems" formControlName="init_responsibility1" [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                    <!-- <small class="text-danger" *ngIf="
                     !FinalForm.controls.init_responsibility1.valid &&
                     FinalForm.controls.init_responsibility1.touched
                   "> Initial Responsibility is required</small> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group  text-field">
                    PPS Main Cluster
                    <select name="ppsmain" class="form-control" id="model" formControlName="pps_main_cluster_id"
                        style="font-weight: 400 !important;" (change)="getsubcluster($event.target.value)">
                        <option value="null" disabled>Select PPS Main Cluster</option>
                        <ng-container *ngFor="let data of getListdata;let i=index">
                            <option value={{data.id}}>{{data.clustername}}</option>
                        </ng-container>

                    </select>
                    <!-- <small class="text-danger" *ngIf="
                          !FinalForm.controls.pps_main_cluster_id.valid &&
                          FinalForm.controls.pps_main_cluster_id.touched
                        "> PPS Main Cluster is required</small> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group  text-field">
                    PPS Sub Cluster
                    <select name="ppssub" class="form-control" formControlName="pps_sub_cluster">
                        <option value="null" selected disabled>Select PPS Sub Cluster</option>
                        <ng-container *ngFor="let data of getsubclusterdta; let i=index">
                            <option value={{data.subclustername}}>{{data.subclustername}}</option>
                        </ng-container>
                    </select>
                    <!-- <small class="text-danger" *ngIf="
                                  !FinalForm.controls.pps_sub_cluster.valid &&
                                  FinalForm.controls.pps_sub_cluster.touched
                                "> PPS Sub Cluster is required</small> -->
                </div>

            </div>
        </div>
        <div class="row" id="margin-bottom">
            <div class="col-md-4">
                <div class="form-group  text-field">
                    Final Responsibility
                    <ng-multiselect-dropdown id="multipleSelects" [placeholder]="'Select Final Responsibility'"
                        [data]="Finalresdata" [(ngModel)]="selectedItemsfin" formControlName="final_resposibility1"
                        [settings]="dropdownSettingsfin" (onSelect)="onItemSelectfin($event)"
                        (onSelectAll)="onSelectAllfin($event)">
                    </ng-multiselect-dropdown>
                    <!-- <select class="form-control" id="model" formControlName="final_resposibility"
                      style="font-weight: 400 !important;" (change)="changeres($event.target.value)">
                      <option value="null" disabled>Select Final Responsibility</option>
                      <ng-container *ngFor="let data of Finalresdata">
                          <option value={{data.finalresponsename}}>{{data.finalresponsename}}</option>
                      </ng-container>
                  </select> -->
                    <!-- <small class="text-danger errormsg" *ngIf="
                                                              !FinalForm.controls.final_resposibility.valid &&
                                                              FinalForm.controls.final_resposibility.touched
                                                            ">Final responsibility is required</small> -->
                </div>
            </div>
            <div class="col-md-4">
                Supplier Code
                <input type="text" class="form-control" value="" formControlName="vendor_code"
                    placeholder="Supplier Code">
                <!-- <small class="text-danger errormsg" *ngIf="
                                                                        !FinalForm.controls.vendor_code.valid &&
                                                                        FinalForm.controls.vendor_code.touched
                                                                      ">Supplier Code is required</small> -->
            </div>
            <div class="col-md-4">
                Supplier Name
                <input type="text" class="form-control" value="" formControlName="supplier_name"
                    placeholder="Supplier Name">
                <!-- <small class="text-danger errormsg" *ngIf="
                                                                !FinalForm.controls.supplier_name.valid &&
                                                                FinalForm.controls.supplier_name.touched
                                                              ">Supplier Name is required</small> -->
            </div>
        </div>
        <div class="row" id="margin-bottom">
            <div class="col-md-4">
                <div class="form-group  text-field">
                    Remarks

                    <input type="text" class="form-control" id="model" formControlName="additional_remarks"
                        style="font-weight: 400 !important;" placeholder="Remarks">
                </div>
            </div>
            <div class="col-md-4">
                Root Cause Analysis
                <input type="text" class="form-control" value="" formControlName="root_cause_analysis"
                    placeholder="Root Cause Analysis">
                <!-- <small class="text-danger errormsg" *ngIf="
                                                      !FinalForm.controls.root_cause_analysis.valid &&
                                                      FinalForm.controls.root_cause_analysis.touched
                                                    ">Root Cause Analysis is required</small> -->
            </div>
            <div class="col-md-4">
                Intermediate Corrective Action
                <input type="text" class="form-control" value="" formControlName="inter_cor_action"
                    placeholder="Intermediate Corrective Action">
                <!-- <small class="text-danger errormsg" *ngIf="
                                              !FinalForm.controls.inter_cor_action.valid &&
                                              FinalForm.controls.inter_cor_action.touched
                                            ">Intermediate Corrective Action is required</small> -->
            </div>
        </div>
        <div class="row" id="margin-bottom" style="margin-top: 21px;">
            <div class="col-md-4">
                <div class="form-group  text-field">
                    Permanent Corrective Action
                    <input type="text" class="form-control" value="" formControlName="permanent_cor_action"
                        placeholder="Permanent Corrective Action">
                    <!-- <small class="text-danger errormsg" *ngIf="
                                                !FinalForm.controls.permanent_cor_action.valid &&
                                                FinalForm.controls.permanent_cor_action.touched
                                              ">Permanent Corrective Action is required</small> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group  text-field">
                    OPS Main Cluster
                    <select name="opsmain" class="form-control" formControlName="ops_main_cluster_id"
                        (change)="opssubcluster($event.target.value)">
                        <option value="null" selected disabled>Select OPS Main Cluster</option>
                        <ng-container *ngFor="let data of getListdata; let i=index">
                            <option value={{data.id}}>{{data.clustername}}</option>
                        </ng-container>
                    </select>

                    <!-- <small class="text-danger" *ngIf="
                                        !FinalForm.controls.ops_main_cluster_id.valid &&
                                        FinalForm.controls.ops_main_cluster_id.touched
                                      "> OPS Main Cluster is required</small> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group  text-field">
                    OPS SubCluster
                    <select name="opssub" class="form-control" formControlName="ops_sub_cluster">
                        <option value="null" selected disabled>Select OPS Sub Cluster</option>
                        <ng-container *ngFor="let data of opsgetsubclusterdta; let i=index">
                            <option value={{data.subclustername}}>{{data.subclustername}}</option>
                        </ng-container>
                    </select>
                    <!-- <small class="text-danger" *ngIf="
                                                !FinalForm.controls.ops_sub_cluster.valid &&
                                                FinalForm.controls.ops_sub_cluster.touched
                                              "> OPS Sub Cluster is required</small> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group  text-field">
                    Process Gap
                    <select class="form-control" id="model" formControlName="processgap"
                        style="font-weight: 400 !important;">
                        <option value="null" selected disabled>Select Process Gap</option>

                        <option value="Plan Change">Plan Change</option>
                        <option value="Material Inwarding">Material Inwarding</option>
                        <option value="Line Feeding">Line Feeding</option>
                        <option value="Material Handling">Material Handling</option>
                        <option value="Stock Accuracy">Stock Accuracy</option>
                        <option value="External Warehouse">External Warehouse</option>
                        <option value="Others">Others</option>
                        <option value="Kitting Process">Kitting Process</option>

                    </select>
                    <!-- <small class="text-danger errormsg" *ngIf="
                                  !FinalForm.controls.processgap.valid &&
                                  FinalForm.controls.processgap.touched
                                ">Process Gap is required</small> -->
                </div>
            </div>
            <div class="col-md-4" *ngIf="selectedItemsfin.length == 1">
                <div class="form-group  text-field">
                    Justification <span class="color">*</span>
                    <input type="text" class="form-control" id="model" formControlName="frjustification"
                        style="font-weight: 400 !important;" placeholder="Justification">
                    <small class="text-danger errormsg" *ngIf="
                !FinalForm.controls.frjustification.valid &&
                FinalForm.controls.frjustification.touched
              ">Justification is required</small>
                </div>
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col-md-12">
            <div style="text-align:right;margin: 20px 0px;">

                <button class="btn btn-primary new-ticket" (click)="Submit()"><i class="icon-save"></i>Submit</button>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="submit" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        <p class="modalHeader">Submit</p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <p> Are you sure want to submit ?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary new-ticket" (click)="confirmSubmit()">Yes</button>
                <button type="button" class="btn btn-sm btn-primary new-ticket" data-dismiss="modal">No </button>

            </div>
        </div>
    </div>
</div>