<app-spinner *ngIf="isLoading"></app-spinner>
<section class="master-bg">
  <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-9">
                          <h2 class="title">Sub Cluster</h2>
                      </div>
                      <div class="col-md-3">
                          <div class="input-group" style="margin: 12px 0px 0px 0px;">
                              <input type="text" class="form-control" id="searchglobal" placeholder="Search Sub Cluster Wise"
                                  (input)="getsearchlist($event.target.value)" autocomplete="off" name="search" style="height:31px;">
                              <div class="input-group-btn">
                                  <button class="btn btn-default" style="background: #eee;height:31px;" type="submit"><i
                                          class="glyphicon glyphicon-search"></i></button>
                              </div>
                              <!-- <datalist id="partdata">
                                          <ng-container *ngFor="let list of ppssearchlist ">
                                              <option value={{list.ppssearch}}>{{list.ppssearch}}</option>
                                          </ng-container>
                                      </datalist> -->
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <section class="bg">
                          <div class="col-md-4">
                              <div class="row">
                                      <form [formGroup]="SubclusterForm">
                                  <div class="col-md-12">
                                          <div class="form-group">
                                                  <label class="head">Cluster<span class="red">*</span></label>
                                                  <select class="form-control" formControlName="clusterid">
                                                    <option value="null" selected disabled>Select Cluster</option>
                                                    <ng-container *ngFor="let data of geClusterListdata">
                                                          <option value={{data.id}}>{{data.clustername}}</option>
                                                    </ng-container>
                                                  </select>
                                                  <small class="text-danger"
                                              *ngIf="!SubclusterForm.controls.clusterid.valid && SubclusterForm.controls.clusterid.touched">Cluster
                                              is required</small>
                                                </div>
                                      <div class="form-group">
                                          <label class="head">Sub Cluster<span class="red">*</span></label>
                                          <input type="text" class="form-control" formControlName="subclustername" placeholder="Sub Cluster">
                                          <small class="text-danger"
                                              *ngIf="!SubclusterForm.controls.subclustername.valid && SubclusterForm.controls.subclustername.touched">Sub Cluster
                                              is required</small>
                                      </div>
                                  </div>
                                  </form>
                                  <div class="col-md-12">
                                      <button class="back-btn" (click)="save()">Submit</button>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-8">
                              <table class="table responsive">
                                  <thead>
                                      <tr style="background: #fff;">
                                          <th>S.No</th>
                                          <th>Cluster Name</th>
                                          <th>Sub Cluster Name</th>
                                          <th>Edit</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                          <ng-container
                                          *ngFor="let data of getListdata |  paginate: { itemsPerPage: 10, currentPage: p1,id: 'one'}let i = index ">
                                          <tr>
                                              <td>{{((p1- 1) * 10 )+ (i+1)}}</td>
                                              <td>{{(data.clustername != null) ?data.clustername : '-' }}</td>
                                              <td>{{(data.subclustername != null) ?data.subclustername : '-' }}</td>
                                              <td><img style="cursor: pointer;" src="assets/images/edit-img.png" (click)="edit(data.id)"></td>
                                          </tr>
                                      </ng-container>
                                  </tbody>
                              </table>
                              <pagination-controls style="text-align: right;margin: 0px 0px 80px 0px;" *ngIf="getListdata?.length!=0"
                              (pageChange)="p1 = $event" #api id="one">
                          </pagination-controls>
                          <h4 *ngIf="getListdata.length==0" style="text-align: center;width: 100%;margin-top: 5%;">
                              No data Available
                          </h4>
                          </div>
                      </section>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  
      <!-- save modal -->
  
  
  <div class="modal fade" id="submit" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-sm">
              <div class="modal-content">
                  <div class="modal-body">
                      <div class="row">
                          <div class="col-md-10">
                              <p class="modalHeader">Submit</p>
                          </div>
                          <div class="col-md-2">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <br>
                          <div class="col-md-12">
                              <p> Are you sure want to submit ?</p>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-primary new-ticket"
                      (click)="confrimsubmitprrequest()">Yes</button>
                      <button type="button" class="btn btn-sm btn-primary new-ticket" data-dismiss="modal">No </button>
                    
                  </div>
              </div>
          </div>
      </div>