
.loaderripple{
    position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffffba;
  z-index: 2000;
  }
  
  .loaderripple > img{
    display: block;
    margin: auto;
    padding-top: 10%;
  }
  